<div class="login-root">
  <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
    
    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
      <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
        <h1>Stefanini</h1>
      </div>
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15">Ingrese su documento y contraseña</span>
            <div class="alert alert-danger" role="alert" *ngIf="alert === true">
              usuario o contraseña incorrectos
            </div>
            <form [formGroup]="form" id="stripe-login">
              <div class="field padding-bottom--24">
                <label for="email">Documento</label>
                <input type="number" aria-label="documento" formControlName="documento">
              </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                  <label for="password">Contraseña</label>
                </div>
                <input type="password" aria-label="Contraseña" formControlName="contra">
              </div>
              <div class="field padding-bottom--24">
                  <button type="button" class="btn" [disabled]="!form.valid" (click)="loginUser()">Continuar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
